/* mystyle.css*/
ul{
    list-style-type: di;
    list-style: circle inside url('https://i.kym-cdn.com/photos/images/original/002/584/508/141.gif');
}

h1{
    color: #15fa2c;
}
h1, .myh1{
font-size: 36pt;
margin: 5px;
padding: 20px;
border: 3px solid rgb(52, 226, 43);
border-radius: 15%;
text-align: center;

background-size: 110px;
background-repeat: no-repeat;

}
h1:hover{
    background-color: rgb(56, 244, 84);
    color: white;
}

body{
    font-family: 'kanit';
   }
input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: rgb(15, 128, 0);
    color: white;
}
input[type = "fname"]:hover{
    background-color: rgb(91, 250, 79);
}
img {
    display: block;
    margin: 10px auto;
    width: 100px;
    border-radius: 100%;

}


form {
    background-color: aliceblue;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: left;
    padding: 20px; 
    border: 3px solid rgb(48, 244, 94); 
    border-radius: 15px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    width: 30%; 
    margin: auto; 
}